extend ../layouts/main

block content
    h1.col-md-12 Estado Parking 
        small Conoce el estado de tus parkings

    .container(ng-controller="ListarParkingsCtrl")
        .row 
            .col-md-12
                div#map(style="width: 100%; height: 400px")
                script.
                    
        .row
            table.table.table-striped
                tr
                    th Codigo
                    th Ubicación
                    th Plazas Total
                    th Estado
                
                    tr(ng-repeat="p in parkings")
                        td {{ p.nombre }}
                        td {{ p.ubicacion }}
                        td {{ p.plazas }}
                        td
                            span(class="label", ng-class = "{'label-success': p.estado == 'libre', 'label-warning': p.estado == 'Personal Autorizado', 'label-danger': p.estado == 'completo', 'label-default': p.estado == 'Cerrado'}") {{ p.estado }}


block script
    script(src="/js/ListarParkingsCtrl.js")
    script.
        var scope;
        $(document).ready(function () {
            scope = angular.element('div[ng-controller="ListarParkingsCtrl"]').scope();
            scope.getData();
            scope.$apply();
            drawParkings();
        });

        var map = new GMaps({
            div: '#map',
            lat: 39.473162,
            lng: -0.377621,
            zoom: 14
        });

        GMaps.geolocate({
            success: function(position){
              map.setCenter(position.coords.latitude, position.coords.longitude);
            },
            error: function(error){
              alert('Geolocation failed: '+error.message);
            },
            not_supported: function(){
              alert("Your browser does not support geolocation");
            },
            always: function(){
              console.log("Found User Location");
            }
        });

        function drawParkings() {
            $.get('/api/parkings/').success(function (result) {
                if(result !== undefined){
                    for (var i = 0; i < result.length; ++i){
                        var nombre = result[i].nombre;
                        var win = { content: '<p>'+nombre+'</p>' };
                        var icon = null;
                        if(result[i].estado == 'libre') icon = 'img/green-dot.png';
                        else icon =  'img/red-dot.png';
                        map.addMarker({
                            lat: result[i].latlng[0],
                            lng: result[i].latlng[1],
                            title: nombre,
                            infoWindow: win,
                            icon: icon
                        });
                    }
                }
            }); 
        };